:root {
  --main-light-color: #a8c66c;
  --main-light-hover: #1b653538;
  --main-dark-color: #1b6535;
  --main-dark-hover: #0fd253;
  --main-dark-disabled: #1b65359e;
  --secondary-light-color: #ffffff;
}

.btn-secondary-light {
  color: var(--main-dark-color);
  transition: background-color 0.2s;
}

.btn-secondary-light:hover {
  background-color: var(--main-light-color);
  color: #ffffff;
}

.btn-main-dark:hover {
  background-color: var(--main-dark-hover);
}

.btn-main-dark:disabled {
  background-color: var(--main-dark-disabled);
}

/* .btn-main-light:hover {
  background-color: var(--main-light-hover);
  color: #ffffff;
} */

.btn-main-light,
.main-light {
  background-color: var(--main-light-color);
  color: #ffffff;
  transition: background-color 0.2s;
}

.btn-main-dark,
.main-dark {
  background-color: var(--main-dark-color);
  color: #ffffff;
}
.secondary-light {
  background-color: var(--secondary-light-color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--main-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

thead {
  background-color: var(--main-dark-color);
  color: #ffffff;
}

td {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
}

h1,
h2,
h3,
.list-group-item h2,
.list-group-item h3 {
  color: var(--main-dark-color);
}

.page-item.active .page-link {
  background-color: var(--main-dark-color);
}
