:root {
  --main-light-color: #a8c66c;
  --main-light-hover: #1b653538;
  --main-dark-color: #1b6535;
  --main-dark-hover: #0fd253;
  --main-dark-disabled: #1b65359e;
  --secondary-light-color: #ffffff;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}
/* carousel */
.carousel-inner {
  background: var(--main-light-hover);
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}
.carousel-item-active {
  align-self: center;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
}

.carousel-caption h2 {
  color: #ffffff;
}

.img-fluid {
  position: relative;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  left: 30%;
}

.carousel a {
  margin: 0 auto;
}
